<% # This uses form_tag instead of form_for, because the latter requires
   # too much extra baggage in Role %>

<%= form_tag update_role_path(@role.name), :method => :put do |f| %>
  <div class="field">
    <%= label_tag 'name' %>:
    <%= @role.name %>
  </div>

  <% for authority in @all_authorities %>
    <div class="field">
      <%= check_box_tag "authority_names[]", authority.name,
                        checked = @role.authorities.include?(authority) %>
      <%= label_tag authority.name %>
    </div>
  <% end %>
 
  <div class="actions">
    <%= submit_tag 'Update Role' %>
  </div>
<% end %>
