<%= form_for(@role) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.hidden_field :name %>
    <%= @role.name %>
  </div>

  <% for authority in @all_authorities %>
    <div class="field">
      <%= check_box_tag "authority_names[]", authority.name,
                        checked = @role.authorities.include?(authority) %>
      <%= label_tag authority.name %>
    </div>
  <% end %>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
