<h1>Listing authority_roles</h1>

<table>
  <tr>
    <th>Role</th>
    <th>Authority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @authority_roles.each do |authority_role| %>
  <tr>
    <td><%= authority_role.role_id %></td>
    <td><%= authority_role.authority_id %></td>
    <td><%= link_to 'Show', authority_role %></td>
    <td><%= link_to 'Edit', edit_authority_role_path(authority_role) %></td>
    <td><%= link_to 'Destroy', authority_role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Authority role', new_authority_role_path %>
